<div class="mb-3 input-group has-validation">
    <button class="btn btn-secondary toggle-password" type="button" id="button-addon{{ type }}" onclick="Toggle_Password({{ id }})"><i class="bi bi-eye-slash"></i></button>
    <input type="password" class="form-control" id="{{ id }}" value="" minlength="12" maxlength="32" placeholder="password" aria-label="password{{ type }}" aria-describedby="basic-addon{{ type }}" required>
    {% if type == 'first' %}
        <div class="invalid-feedback">Your password must be :<br>
            <div id="passlen" class="text-danger">12-32 characters long,<br></div>
            <div id="passspecial" class="text-danger">must contain special characters "!@#$%&*_?", <br></div>
            <div id="passnumber" class="text-danger">numbers, <br></div>
            <div id="passletter" class="text-danger">lower and upper letters only.<br></div>
        </div>
    {% else %}
        <div class="invalid-feedback">Les 2 mots de passe sont différents</div>
    {% endif %}
</div>
